* {
    margin: 0px;
    padding: 0px;
}

#background {
    background-color: black;
}

#brand {
    padding: 0px 200px 0px 100px;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

nav a {
    color: white;
}

nav a:hover {
    color: orange;
}

ul li a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

ul li a:hover {
    color: yellow;
}

ul li {
    padding: 0px 10px;
}

ul li:hover {
    background-color:green;
}

#title {
    background-color: black;
    padding: 30px;
    opacity: 0.5;
}

#title i {
    color: white;
    padding: 10px 20px;
}

#search {
    display: inline-block;
    margin-left: 675px;
}

#producthot {
    margin-top: 50px;
    margin-bottom: 500px;
    padding: 0px 0px 0px 10px;
}

img {
    width: 100%;
}

.product {
    position: relative;
    text-align: center;
    box-shadow: 0px 4px 18px 0px grey;
    margin-bottom: 25px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: green;
    opacity: 0.8;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}

.product:hover .overlay {
    height: 100%;
    bottom: 0;
}

#producthot h2 {
    padding: 10px 0px 85px 0px;
}

.product .content {
    padding: 10px;
}

.product a {
    text-decoration: none;
    color: black;
}

.product i {
    white-space: nowrap; 
    color: white;
    font-size: 25px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#alertsuccess {
	display: none;
	position: absolute;
	top: 88px;
	right: 110px;
	width: 10%;
	border-radius: 25px;
}

#row {
	padding-top: 75px;
	margin-bottom: 100px;
}

#row #col1 h4{
	padding-bottom: 30px;
}

.icondetail a {
	position: absolute;
	top: 120px;
	right: 100px;
}

#rowdetail {
	padding: 75px;
}

#carousel {
	width: 25%;
	margin: auto;
}

#detailproduct {
	background-color: darkgray;
	margin: 50px 10px 0px 50px;
	height: 230px;
	padding-top: 35px;
}

#detailproduct h4 {
	padding: 0px 0px 15px 0px;
	margin-top: -30px;
}

#carousel-indicators {
	position: absolute;
	bottom: -35px;
}

#form {
	width: 300px;
	height : 300px;
	opacity: 0.5;
	margin: auto;
}

.login-form {
	width: 340px;
	margin: 50px auto;
}

.login-form form {
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.login-form h2 {
	margin: 0 0 15px;
}

.form-control, .btn {
	min-height: 38px;
	border-radius: 2px;
}

.btn {
	width: 100%;
	font-size: 15px;
	font-weight: bold;
}

#btn-cart {
	width: 35%;
}

#btn-search {
	width: 24%;
}

#icon-detail {
	color: #4eff00;
	position: absolute;
	top: 18px;
	right: 120px;
}

.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	margin: 100px 0;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
	padding-bottom: 15px;
	background: #299be4;
	color: #fff;
	padding: 5px 30px;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}

.table-title h2 {
	margin: 5px 10px 0;
	font-size: 24px;
	font-weight: bold;
}

.table-title span {
	font-size: 15px;
	font-weight: bold;
}

.table-title .btn {
	color: #566787;
	float: right;
	font-size: 13px;
	background: #fff;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}

.table-title .btn:hover, .table-title .btn:focus {
	color: #566787;
	background: #f2f2f2;
}

.table-title .btn i {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}

.table-title .btn span {
	float: left;
	margin-top: 2px;
}

table.table tr th, table.table tr td {
	border-color: #e9e9e9;
	padding: 12px 15px;
	vertical-align: middle;
}

table.table tr th:first-child {
	width: 60px;
}

table.table tr th:last-child {
	width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
	background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
	background: #f5f5f5;
}

table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}

table.table td:last-child i {
	opacity: 0.9;
	font-size: 22px;
	margin: 0 5px;
}

table.table td a {
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
}

table.table td a:hover {
	color: #2196F3;
}

table.table td a.settings {
	color: #2196F3;
}

table.table td a.delete {
	color: #F44336;
}

table.table td i {
	font-size: 19px;
}

table .td-img {
	width: 15%;
}

table img {
	width: 45%;
}

.icon-add a {
	color: white;
	text-decoration: none;
}

.icon-add i {
	margin-right: 10px;
}

.td-update {
	color: #0cb40e;
}

.td-delete {
	color: #f90303;
}

.icon-logout {
	font-size: 35px;
	position: absolute;
	top: 25px;
	right: 95px;
}

.paging ul li {
	padding: 0px;
}

.paging ul li:hover {
	background-color: white;
}
